@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------Barra de Navegacion------------------------------- */
.navHeader {
  background-color: rgba(119, 111, 121, 0.431372549);
  backdrop-filter: blur(3px) saturate(150%);
}
.navHeader .navHeader_Logo {
  padding: 0 !important;
  margin: 0 !important;
  margin-left: 10vw !important;
}
.navHeader .navHeader_Logo .img_Logo {
  border-radius: 35% 15%;
  height: 17vh !important;
}
.navHeader .navbar-toggler-color {
  border-color: aliceblue !important;
  border: 5px solid aliceblue !important;
}
.navHeader .navbar-toggler-color:hover {
  border-color: rgb(132, 52, 190) !important;
}
.navHeader li {
  font-size: 1.4rem;
  border-right: 2px solid aliceblue;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.navHeader li a {
  color: aliceblue !important;
  font-weight: 600;
}
@media (max-width: 991px) {
  .navHeader .lista_SinBorde li a {
    border: none;
  }
}
.navHeader .Link_1 {
  border-left: 2px solid aliceblue !important;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.navHeader i {
  color: white;
  /* ------------------------Copie el codigo de la animacion de fontawesome y la meti en un hover------------------------------- */
}
.navHeader i:hover {
  -webkit-animation-name: fa-beat;
  animation-name: fa-beat;
  -webkit-animation-delay: var(--fa-animation-delay, 0s);
  animation-delay: var(--fa-animation-delay, 0s);
  -webkit-animation-direction: var(--fa-animation-direction, normal);
  animation-direction: var(--fa-animation-direction, normal);
  -webkit-animation-duration: var(--fa-animation-duration, 1s);
  animation-duration: var(--fa-animation-duration, 1s);
  -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
  animation-iteration-count: var(--fa-animation-iteration-count, infinite);
  -webkit-animation-timing-function: var(--fa-animation-timing, ease-in-out);
  animation-timing-function: var(--fa-animation-timing, ease-in-out);
}

/* ------------------------Section titulo del header------------------------------- */
.section_titulo_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 85vh;
  font-family: "Caveat";
}
.section_titulo_header div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}
.section_titulo_header div h1 {
  font-size: 8rem;
  color: aliceblue;
  text-align: center;
  text-shadow: 3px 0px 0px rgb(10, 10, 10), -3px 0px 0px rgb(10, 10, 10), 0px 3px 0px rgb(10, 10, 10), 0px -3px 0px rgb(10, 10, 10);
}
.section_titulo_header div p {
  color: aliceblue;
  text-align: center;
  font-size: 3rem;
  text-shadow: 1px 0px 0px rgb(10, 10, 10), -1px 0px 0px rgb(10, 10, 10), 0px 1px 0px rgb(10, 10, 10), 0px -1px 0px rgb(10, 10, 10);
}

.Header__Img__Index, .Header__Img__Contacto, .Header__Img__Ubicacion, .Header__Img__Pesca, .Header__Img__Lodge {
  background-image: url(../assets/img/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

.Header__Img__Lodge {
  background-image: url(../assets/img/Img_Lodge1.jpg);
}

.Header__Img__Pesca {
  background-image: url(../assets/img/header_pesca.jpg);
}

.Header__Img__Ubicacion {
  background-image: url(../assets/img/header_ubicacion.jpg);
}

.Header__Img__Contacto {
  background-image: url(../assets/img/header_3.jpg);
}

.main_Index {
  background-color: beige;
  font-family: "Lato", sans-serif;
}
.main_Index h2 {
  text-shadow: 1px 0px 0px white, -1px 0px 0px white, 0px 1px 0px white, 0px -1px 0px white;
  text-align: center;
}
.main_Index h3 {
  font-family: "Caveat";
  text-align: center;
}
.main_Index p {
  font-family: "Caveat";
}
.main_Index .div_imagen img {
  width: 100%;
  object-fit: cover;
}

/* --------------------------Pagina "Lodge" ------------------------------------ */
.main_lodge {
  background-color: beige;
}

/* --------------------------Pagina "Pesca" ------------------------------------ */
.main_pesca {
  background-color: beige;
}

/* --------------------------Pagina "Ubicacion" ------------------------------------ */
main {
  background-color: beige;
}
main section h1 {
  font-weight: 700 !important;
  text-align: center;
  font-family: "Lucida Sans";
}
main a {
  color: black;
}
main .bordes {
  border-right: 3px solid black;
}

/* ----------------------------- Footer-------------------------------------- */
Footer {
  font-family: "Lato", sans-serif;
  border-radius: 0.25rem;
  color: aliceblue;
  background-image: linear-gradient(to right top, #232022, #3a2f31, #513f3b, #635344, #6e6a50, #656c52, #5b6e57, #516f5e, #3f5950, #314440, #24302f, #191d1d);
}
Footer .img_Logo {
  border-radius: 35% 15%;
  height: 17vh !important;
}
Footer p {
  text-align: center;
  font-family: "Caveat";
}
Footer a {
  color: aliceblue;
  text-decoration: none;
}
Footer h4 {
  text-decoration: underline;
}
Footer .icono_trip {
  height: 2em;
  width: 2em;
  vertical-align: top;
}

/* --------------------------Icono de WhatsApp fijado ------------------------------------ */
.fixedWsp {
  position: fixed;
  bottom: 10px;
  right: 5px;
  z-index: 1000;
  /*para que este por encima de todo*/
  /* convertir a bloque y establecer altura/ancho iguales */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* hacer que tenga bordes redondeados */
  text-align: center;
  /* centrar el contenido dentro del círculo */
  /* ajustar el espacio dentro del círculo */
  font-size: 3rem;
}/*# sourceMappingURL=styles.css.map */