/* ----------------------------- Footer-------------------------------------- */

Footer {
  font-family: $fuente-1;
  border-radius: 0.25rem;
  color: aliceblue;
  background-image: linear-gradient(to right top, #232022, #3a2f31, #513f3b, #635344, #6e6a50, #656c52, #5b6e57, #516f5e, #3f5950, #314440, #24302f, #191d1d);
  
  .img_Logo {
    border-radius: 35% 15%;
    height: 17vh !important;
  }

  p {
    text-align: center;
    font-family: $fuente-2;
    white-space: pre-line;
  }

  a {
    color: aliceblue;
    text-decoration: none;
  }

  .p_redes {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: underline; 
  }

  .icono_trip {
    
    height: 2em;
    width: 2em;
    vertical-align: top;
  }
}

/* --------------------------Icono de WhatsApp fijado ------------------------------------ */

.fixedWsp {
  position: fixed;
  bottom: 10px;
  right: 5px;
  z-index: 1000;
  /*para que este por encima de todo*/
  // display: inline-block;
  /* convertir a bloque y establecer altura/ancho iguales */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* hacer que tenga bordes redondeados */
  text-align: center;
  /* centrar el contenido dentro del círculo */
  // line-height: 20px;
  /* ajustar el espacio dentro del círculo */
  font-size: 3rem;
}
