/* ------------------------Barra de Navegacion------------------------------- */

.navHeader {
    background-color: #776f796e;
    backdrop-filter: blur(3px) saturate(150%);

    .navHeader_Logo {
        padding: 0 !important;
        margin: 0 !important;
        margin-left: 10vw !important;

        .img_Logo {
            border-radius: 35% 15%;
            height: 17vh !important;
        }
    }

    .navbar-toggler-color {
        border-color: aliceblue !important;
        border: 5px solid aliceblue !important;

        &:hover {
            border-color: rgb(132, 52, 190) !important;
        }
    }

    li {
        font-size: 1.4rem;
        border-right: 2px solid aliceblue;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        a {
            color: aliceblue !important;
            font-weight: 600;
        }
    }

    @media (max-width: 991px) {
        .lista_SinBorde li a {
            border: none;
        }
    }

    .Link_1 {
        border-left: 2px solid aliceblue !important;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }




    i {
        color: white;

        /* ------------------------Copie el codigo de la animacion de fontawesome y la meti en un hover------------------------------- */

        &:hover {
            -webkit-animation-name: fa-beat;
            animation-name: fa-beat;
            -webkit-animation-delay: var(--fa-animation-delay, 0s);
            animation-delay: var(--fa-animation-delay, 0s);
            -webkit-animation-direction: var(--fa-animation-direction, normal);
            animation-direction: var(--fa-animation-direction, normal);
            -webkit-animation-duration: var(--fa-animation-duration, 1s);
            animation-duration: var(--fa-animation-duration, 1s);
            -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
            animation-iteration-count: var(--fa-animation-iteration-count, infinite);
            -webkit-animation-timing-function: var(--fa-animation-timing, ease-in-out);
            animation-timing-function: var(--fa-animation-timing, ease-in-out)
        }
    }
}



/* ------------------------Section titulo del header------------------------------- */

.section_titulo_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 85vh;
    font-family: $fuente-2;

    div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;

        h1 {
            font-size: 8rem;
            color: aliceblue;
            text-align: center;
            text-shadow: 3px 0px 0px rgb(10, 10, 10),
                -3px 0px 0px rgb(10, 10, 10),
                0px 3px 0px rgb(10, 10, 10),
                0px -3px 0px rgb(10, 10, 10);
        }

        p {
            color: aliceblue;
            text-align: center;
            font-size: 3rem;
            text-shadow: 1px 0px 0px rgb(10, 10, 10),
                -1px 0px 0px rgb(10, 10, 10),
                0px 1px 0px rgb(10, 10, 10),
                0px -1px 0px rgb(10, 10, 10);
        }
    }
}
