.main_Index {
    background-color: $fondo-main;
    font-family: $fuente-1;

    h2 {
        text-shadow: 1px 0px 0px white,
            -1px 0px 0px white,
            0px 1px 0px white,
            0px -1px 0px white;
        text-align: center;
    }

    h3 {
        font-family: $fuente-2;
        text-align: center;
    }

    p {
        font-family: $fuente-2;
    }

    .div_imagen img {
        @include div_imagen (100%, cover)
    }
}