.main_Index {
    background-color: $fondo-main;
    font-family: $fuente-1;

    h2 {
        text-shadow: 1px 0px 0px white,
            -1px 0px 0px white,
            0px 1px 0px white,
            0px -1px 0px white;
        text-align: center;
    }

    h3 {
        font-family: $fuente-2;
        text-align: center;
    }

    p {
        font-family: $fuente-2;
    }

    .div_imagen img {
        width: 100%;
        object-fit: cover;
    }

    .sectionVideo_fondo {
        background-image: radial-gradient(circle, #f5f5dc, #f5f5dc, #f5f5dc, #f5f5dc, #f5f5dc, #e2e2cb, #cfcfba, #bcbca9, #939385, #6d6d62, #484842, #272724);
    }
}



