/* --------------------------Pagina "Lodge" ------------------------------------ */

.main_lodge{
    background-color: beige;
}

.sectionLodge_DivRight{
    background-image: url(../assets/img/Img_Lodge1.jpg);
    background-size: cover;
    background-position: center;
}