/* --------------------------Pagina "Ubicacion" ------------------------------------ */
main {
    background-color: $fondo-main;

    section {

        h2 {  /*Titulo Main */
            font-weight: 700 !important;
            text-align: center;
            font-family:$fuente-3;
        }

    }

    .p_ubicacion {
        font-family: $fuente-2;
        font-weight: 500;
        white-space: pre-line;
    }

    a{
        color: rgb(63, 7, 7);
        /*Agregar una animacion a los iconos*/
    }

    .bordes {
        border-right: map-get($bordes, ancho3,);
    }
}