/* --------------------------Pagina "Ubicacion" ------------------------------------ */
main {
    background-color: $fondo-main;

    section {

        h1 {
            font-weight: 700 !important;
            text-align: center;
            font-family:$fuente-3;
        }

    }

    a{
        color: black;
    }

    .bordes {
        border-right: map-get($bordes, ancho3,);
    }
}