$fuente-1: "Lato", sans-serif;
$fuente-2: "Caveat";
$fuente-3: 'Lucida Sans';

$fondo-main: beige;

$fondo_main_img: radial-gradient(circle, #f5f5dc, #f5f5dc, #f5f5dc, #f5f5dc, #f5f5dc, #f0f0d9, #ececd5, #e7e7d2, #ddddcb, #d2d2c3, #c8c8bc, #bebeb5);


$bordes: (
ancho1: 1px solid black,
ancho2: 2px solid black,
ancho3: 3px solid black,
);

